<h2>Sign up now</h2><br />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div><br />

  <div><%= f.label :phone_number %>
  <%= f.text_field :phone_number, :placeholder=>"10 digits, no symbols" %></div><br />

  <div><%= f.label :password %>
  <%= f.password_field :password %></div><br />

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", :class => "btn btn-large btn-success" %></div> <h2> or </h2>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => "btn btn-large btn-primary" %><br />
  <% end -%>
<% end -%>