
<%= form_for [@goal, @pledge] do |f| %>
  <% if @pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% @pledge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


     <div class="goal_form_2">
         <p>How much will you pledge to achieve your goal?</p>
         <p style="color: #50A950">(New accounts get $300 of free money!)</p>
       </div> <br />
      <div class="pledge_form_2 field" style="padding-bottom: 30px;">
        <span style="float: left; line-height: 40px;">$</span><span style="float: left;"><%= f.text_field :amount, :class=>"input", :placeholder=>"150", :size => 2%></span>

      </div>
      <br /><br />


      <%= hidden_field_tag :goal_id, @goal.id %>
    <div class="actions goal_form_2">
       <%= f.submit "Submit my pledge", :class=>"btn btn-primary btn-large goal_form label-with-popover"%>
     </div>
<br />
     <a href="#"
                 rel="popover"
                 data-original-title="Pledge"
                 data-content="For every step you take towards your goal, you'll get part of your money back (on a weekly basis). If you accomplish all your steps before the due date, you'll get refunded the full amount! Think of it as betting on yourself.">What's a pledge?</a>

<% end %>

