<%= form_for @goal do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span12">
      <div class="field goal_form span4">
        My goal is to
      </div>
      <div class="field goal_form span8">
        <%= f.text_field :description, :placeholder=>"Become a world class Rubyist" %> <br /><br />
      </div>
    </div>

    <div class="span12">
      <div class="field goal_form span4">
        by
      </div>
      <div class="field goal_form span8">
        <%= f.text_field :due_date, :placeholder=>"August 18, 2020"%> <br /><br />
      </div>
    </div>


  <%= f.fields_for :objectives do |objective_fields| %>
  <div class="span12">
    <div class="field goal_form span4">
      And to achieve this, I will
    </div>
    <div class="field goal_form span8">
      <%= objective_fields.text_field :description, :placeholder=>"Write 300 RSPEC tests"%> <br /><br />
    </div>

    <div class="span12">
      <div class="field goal_form span4">
        at least
      </div>
      <div class="field goal_form span1">
        <%= objective_fields.text_field :frequency, :placeholder=>"5" %>
      </div>
      <div class="field goal_form_2 span7">
        times per week.<br /><br />
      </div>
    </div>
  </div>
  <% end %>
  <br /><br />
    <div class="centerize">
    <%= f.submit "I'm ready to get motivated", :class=>"btn btn-primary btn-large goal_form" %>
    </div>
<% end %>

</div>