<%= form_for @goal do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field goal_form">
    My goal is to
    <%= f.text_field :description, :class=>"input-xlarge", :placeholder=>"Become a world class Ruby programmer" %> <br /><br />
    by <%= f.text_field :due_date, :class=>"input-xlarge", :placeholder=>"August 18, 2020"%> <br /><br />
  </div>


  <%= f.fields_for :objectives do |objective_fields| %>
   <div class="field goal_form">
     And to achieve this, I will
      <%= objective_fields.text_field :description, :class=>"input-xlarge", :placeholder=>"Write 300 RSPEC tests"%> <br /><br />
      at least
      <%= objective_fields.text_field :frequency, :class=>"input-xlarge", :placeholder=>"5" %> <br /><br />times per week.
    </div>
  <% end %>
  <br /><br />


  <div class="actions goal_form">
     <%= f.submit "I'm ready to get motivated", :class=>"btn btn-primary btn-large goal_form" %>
   </div>

<% end %>

