


<%= form_for @goal do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span12">
      <div class="field goal_form span4">
        My goal is to
      </div>
      <div class="field goal_form span8">
        <%= f.text_field :description, :placeholder=>"Complete an Iron Man" %> <br /><br />
      </div>
    </div>

    <div class="span12">
      <div class="field goal_form span4">
        by
      </div>
      <div class="field goal_form span8">
        <%= f.text_field :due_date, :placeholder=>"October 18, 2012"%> <br /><br />
      </div>
    </div>


  <%= f.fields_for :objectives do |objective_fields| %>
  <div class="span12">
    <div class="field goal_form span4">
      And to achieve this, I will
    </div>
    <div class="field goal_form span8">
      <%= objective_fields.text_field :description, :placeholder=>"train with my team"%> <br /><br />
    </div>

    <div class="span12">
      <div class="field goal_form span4">
        at least
      </div>
      <div class="field goal_form span1">
       <%= objective_fields.select(:frequency, (1..7).map { |n| ["#{n}","#{n}"] })%>
       </div>

      <div class="field goal_form_2 span7">
        times per week.<br /><br />
      </div>
    </div>
  </div>
  <% end %>
  <br /><br />

  <div class="span12">
    <div class="field goal_form span4">
      Goal privacy:
    </div>

   <div class="field span7">
   <%= f.select(:public, [['Public', 'true'], ['Private', 'false']])%>
   </div>

</div>


    <div class="centerize">
    <%= f.submit "I'm ready to get motivated", :class=>"btn btn-primary btn-large goal_form"%>
    </div>
<% end %>

</div>

