<h1>My goal is to <%= @goal.description %></h1>
<h3>I will achieve this by <%= @goal.due_date.strftime("%a %b #{@goal.due_date.day.ordinalize}") %></h3>
<!-- TODO: TEST ME! -->
<%= form_tag goal_path(@goal), :action => :update, :method => :put do %>
<h2>When did you last <%= @objective.description %>?</h2>
  <% @days.each_with_index do |day, index| %>
    <div>
      <%= check_box_tag "day[#{index + 1}]", day, false %>
      <%= day.strftime("%a %b #{day.day.ordinalize}") %>
    </div>
  <% end %>
  <%= hidden_field_tag :objective_id, @objective.id %>
  <%= submit_tag "Mark 'em done!", :class => "btn btn-primary" %>
<% end %>

<% @days.each do |day| %>
  <div>
    <%= day %>
  </div>
<% end %>