<h1><%= @goal.description %></h1>

Progress: <%= @goal.percentage_complete %>%
<div class="progress progress-success progress-striped
     active">
  <div class="bar"
       style="width: <%= @goal.percentage_complete %>%;"></div>
</div>

Expected progress: <%= @goal.expected_percentage_complete %>%
<div class="progress progress-info">
  <div class="bar"
       style="width: <%= @goal.expected_percentage_complete %>%;"></div>
</div>

<div class="span12">
<div class="span6">
<%= render :partial => 'pie' %>
</div>
<br />


<div class="well sidebar-nav span3">
  <ul>
    <li>You have earned $<%= @goal.pledge_amount_earned_back%> of your original pledge of $<%= @goal.pledge_amount%>. </li>
    <li>You have completed <%= @goal.objectives.first.steps.count %> out of <%= @goal.total_steps %> steps toward your goal. </li>
  </ul>
  </div>

</div>




<%= button_to "Add progress on this goal", edit_goal_path(@goal), :class=>"btn btn-primary btn-large goal_form", :method => "get" %>
